{% extends 'index.html' %}
{% block content %}
<div class='container'><h3>25 Apr 2019</h3><strong>TASK LIST:</strong><div class='container'>
&gt; RYAN JONES (repeats yearly)
</div><div class='container'>
&bull; TESTING REPEAT (repeats daily)
<div class='container'>
&mdash; Let ' s hope this works 
</div></div></div>
<div class='container'><h3>26 Apr 2019</h3><strong>TASK LIST:</strong><div class='container'>
&lt; DAVID FLETCHER 
</div><div class='container'>
&bull; TESTING REPEAT (repeats daily)
<div class='container'>
&mdash; Let ' s hope this works 
</div></div></div>
<div class='container'><h3>27 Apr 2019</h3><strong>TASK LIST:</strong><div class='container'>
&bull; TESTING REPEAT (repeats daily)
<div class='container'>
&mdash; Let ' s hope this works 
</div></div></div>
<div class='container'><h3>28 Apr 2019</h3><strong>TASK LIST:</strong><p> Nothing for today. </p></div>
<div class='container'><h3>29 Apr 2019</h3><strong>TASK LIST:</strong><div class='container'>
&bull; HULLABALOOO 
<div class='container'>
&mdash; whites go in blue basket 
</div></div></div>
<div class='container'><h3>30 Apr 2019</h3><strong>TASK LIST:</strong><p> Nothing for today. </p></div>
<div class='container'><h3>01 May 2019</h3><strong>TASK LIST:</strong><div class='container'>
&gt; pet dog 
<div class='container'>
&mdash; held my sisters birthday today ! 
</div></div></div>
{% endblock %}
