{% extends 'index.html' %}
{% block content %}
<div class='container'><h3>06 May 2019</h3><strong>TASK LIST:</strong><div class='container'>
X Finish Taskr 
</div><div class='container'>
&bull; chapel (repeats weekly)
<div class='container'>
&mdash; Here is a weekly monday chapel repeat 
</div></div><div class='container'>
&bull; chapel (repeats weekly)
<div class='container'>
&mdash; Here is a weekly monday chapel repeat 
</div></div></div>
<div class='container'><h3>07 May 2019</h3><strong>TASK LIST:</strong><div class='container'>
&lt; David looks over code and documentation 
</div></div>
<div class='container'><h3>08 May 2019</h3><strong>TASK LIST:</strong><div class='container'>
&bull; wash 
<div class='container'>
&mdash; held my sisters birthday today ! 
</div></div><div class='container'>
&bull; chapel (repeats weekly)
<div class='container'>
&mdash; Here is a weekly wednesday chapel repeat 
</div></div><div class='container'>
&bull; chapel (repeats weekly)
<div class='container'>
&mdash; Here is a weekly wednesday chapel repeat 
</div></div></div>
<div class='container'><h3>09 May 2019</h3><strong>TASK LIST:</strong><p> Nothing for today. </p></div>
<div class='container'><h3>10 May 2019</h3><strong>TASK LIST:</strong><div class='container'>
&bull; HULLABALOOO 
</div><div class='container'>
&bull; chapel (repeats weekly)
<div class='container'>
&mdash; Here is a weekly friday chapel repeat 
</div></div><div class='container'>
&bull; chapel (repeats weekly)
<div class='container'>
&mdash; Here is a weekly friday chapel repeat 
</div></div></div>
<div class='container'><h3>11 May 2019</h3><strong>TASK LIST:</strong><p> Nothing for today. </p></div>
<div class='container'><h3>12 May 2019</h3><strong>TASK LIST:</strong><div class='container'>
&bull; sort laundry 
<div class='container'>
&mdash; whites go in blue basket 
</div></div></div>
{% endblock %}
