{% extends 'index.html' %}
{% block content %}
<div class='container'><h3>25 Apr 2019</h3><strong>TASK LIST:</strong><div class='container'>
&#9702; sisters birthday (repeats yearly)
</div></div>
<div class='container'><h3>26 Apr 2019</h3><strong>TASK LIST:</strong><div class='container'>
&bull; do laundry 
</div></div>
<div class='container'><h3>27 Apr 2019</h3><strong>TASK LIST:</strong><p> Nothing for today. </p></div>
<div class='container'><h3>28 Apr 2019</h3><strong>TASK LIST:</strong><p> Nothing for today. </p></div>
<div class='container'><h3>29 Apr 2019</h3><strong>TASK LIST:</strong><div class='container'>
&bull; gather laundry 
<div class='container'>
&mdash; whites go in blue basket 
</div></div></div>
<div class='container'><h3>30 Apr 2019</h3><strong>TASK LIST:</strong><p> Nothing for today. </p></div>
<div class='container'><h3>01 May 2019</h3><strong>TASK LIST:</strong><div class='container'>
&bull; pet dog 
<div class='container'>
&mdash; held my sisters birthday today ! 
</div></div></div>
{% endblock %}
